<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">
            org.h2.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:h2:./data/BankSystemDB
        </property>

        <property name="hibernate.connection.username">
            banking
        </property>

        <property name="hibernate.connection.password">
            ${DB_PASSWORD}
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>
    </session-factory>
</hibernate-configuration>